.headerContainer {
  position: fixed;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 60px;
  margin: 0;
  padding: 0;
  z-index: 2;
  border-bottom: 0.2px dashed orangered;
  .logo {
    h2 {
      text-decoration: wavy;
      text-transform: uppercase;
      cursor: pointer;
      span {
        color: orangered;
      }
    }
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    .menuLeft {
      ul {
        display: flex;
        align-items: center;
        gap: 3rem;
        li {
          text-transform: uppercase;
          list-style: none;
          cursor: pointer;
          .text-link {
            text-decoration: none;
          }
          &:hover {
            color: orangered;
          }
        }
      }
    }
    .menuRight {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 2rem;
      .cart {
        position: relative;
        span {
          background-color: orangered;
          position: absolute;
          color: white;
          padding: 3px;
          text-align: center;
          width: 15px;
          border-radius: 50%;
          top: -20px;
          right: -12px;
          font-weight: bold;
        }
      }
    }
  }
}

// responsive mobil
@media screen and (max-width: 600px) {
  .headerContainer {
    position: fixed;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 60px;
    margin: 0;
    padding: 0;
    z-index: 2;
    border-bottom: 0.2px dashed orangered;
    .logo {
      h2 {
        text-decoration: wavy;
        text-transform: uppercase;
        font-size: 20px;
        cursor: pointer;
        span {
          color: orangered;
        }
      }
    }
    .menu {
      display: none;
      align-items: center;
      gap: 2rem;
      .menuLeft {
        ul {
          display: flex;
          align-items: center;
          gap: 3rem;
          li {
            text-transform: uppercase;
            list-style: none;
            cursor: pointer;
            .text-link {
              text-decoration: none;
            }
            &:hover {
              color: orangered;
            }
          }
        }
      }
      .menuRight {
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 2rem;
        .cart {
          position: relative;
          span {
            background-color: orangered;
            position: absolute;
            color: white;
            padding: 3px;
            text-align: center;
            width: 15px;
            border-radius: 50%;
            top: -20px;
            right: -12px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
