// Default theme
.homeSlideContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  width: 100%;
  height: 80vh;
  .slideItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .silder {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      .left {
        img {
          border-radius: 8px;
          width: 300px;
          height: 300px;
        }
      }
      .midile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 0.5rem;
        h2 {
          color: orangered;
          text-transform: uppercase;
        }
        p {
          font-size: 16px;
        }
        button {
          padding: 10px 20px;
          background-color: inherit;
          border: 1px solid orangered;
          border-radius: 5px;
          cursor: pointer;
          &:hover {
            background-color: orangered;
            color: white;
          }
        }
      }
      .right {
        img {
          width: 300px;
          height: 300px;
          border-radius: 8px;
        }
      }
    }
  }
}
.ourSections {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  width: 80%;
  margin-bottom: 2rem;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .items {
    display: flex;
    align-items: center;
    gap: 0;
    .left {
      img {
        width: 120px;
        cursor: pointer;
        &:hover {
          transition: all 1s;
          scale: 1.1;
        }
      }
    }
    .right {
      h2 {
        font-size: 25px;
        color: orangered;
        font-family: "Courier New", Courier, monospace;
      }
    }
  }
}
//recponsive tablate

@media screen and (max-width: 900px) {
  .homeSlideContainer {
    display: none;
    .slideItems {
      justify-content: center;
      .silder {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        .left {
          img {
            width: 450px;
            height: 300px;
          }
        }
        .midile {
          h2 {
            font-size: 20px;
          }
          p {
            display: none;
            font-size: 16px;
          }
         
        }
        .right {
          display: none;
  
        }
      }
    }
  }
  .ourSections {
    width: 90%;
    .items {
      display: flex;
      align-items: center;
      gap: 0;
      .left {
        img {
          width: 90px;

        }
      }
      .right {
        h2 {
          font-size: 18px;
        }
      }
    }
  }
}

//mobile recponsive

@media screen and (max-width: 600px) {
  .homeSlideContainer {
    height: 80vh;
    .slideItems {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .silder {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        .left {
          img {
            border-radius: 8px;
            width: 350px;
            height: 300px;
          }
        }
        .midile {
          gap: 1rem;
          h2 {
            font-size: 18px;
          }
          p {
            display: none;
          }
          button {
            padding: 5px;
            border-radius: 5px;
            font-size: 12px;
          }
        }
        .right {
          display: none;
        }
      }
    }
  }
  .ourSections {
    flex-direction: column;
    padding: 0.5rem;
    width: 80%;
    gap: 1rem;
    margin-bottom: 2rem;
    box-shadow: none;
    .items {
      gap: 0;
      background-color: white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding: 1rem;
      border-radius: 6px;
      .left {
        img {
          width: 100px;
        }
      }
      .right {
        h2 {
          font-size: 18px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}
